body {
    font-family: Arial;
    margin: 0;
    background-color: #f0f4f8;
}

header {
    background-color: #002b5c;
    color: white;
    padding: 20px;
}

nav {
    background-color: #00509e;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    padding: 20px;
    background-color: white;
    margin: 20px;
}

footer {
    background-color: #002b5c;
    color: white;
    text-align: center;
    padding: 10px;
}

table {
    margin-top: 15px;
    font-size: 0.95em;
}

th {
    background-color: #f2f2f2;
}